@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth !important;
}

.toggle>*{
  width: 2rem;
  height: 1rem;
}


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&display=swap');


@layer base{
  body{
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5{
    @apply font-bold
  }

  h1{
    @apply text-4xl sm:text-5xl md:text-4xl 
  }

  h2{
    @apply text-3xl sm:text-4xl
  }

  li{
    @apply cursor-pointer
  }
}


::-webkit-scrollbar {
  width: 8px !important;
  height: 2px !important;
}

::-webkit-scrollbar-track {
  background: #e0e0e0 !important;
    border-radius: 10px !important;

}

::-webkit-scrollbar-thumb {
  background: #9333EA !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333EA !important;
}